/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.bgTheme1 {
  background-color: #353D40 !important;
  color: #FFF;
}

.bgTheme4 {
  background-color: #F2B138 !important;
}
.borderTheme4 {
  border-color: #F2B138 !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
